/* Скидання відступів для заголовків та абзаців */
h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin: 0;
}

/* Плавна прокрутка */
html {
  scroll-behavior: smooth;
  scroll-padding-top: 20px;
}
/* Це застосується до всіх секцій з id */
section[id] {
  /* Збільшуємо запас для анімації. 
     Якщо заголовок заїжджає під хедер, ставимо більше число */
  scroll-margin-top: 90px;
}

/* Останній абзац */
p:last-child {
  margin-bottom: 0;
}

/* Скидання списків */
ul,
ol {
  margin: 0;
  padding: 0;
  list-style: none;
}

/* Скидання стилів для посилань та кнопок */
a {
  text-decoration: none;
  color: currentColor;
  font-style: normal;
}

button {
  font-family: inherit;
  color: currentColor;
  cursor: pointer;
  padding: 0;
}

img {
  display: block;
  width: 100%;
  max-width: 100%;
  height: auto;
}

/* Сховані елементи для доступності */
.visually_hidden {
  border: 0;
  clip: rect(0 0 0 0);
  clip-path: inset(100%);
  height: 1px;
  margin: -1px;
  overflow: hidden;
  padding: 0;
  position: absolute;
  white-space: nowrap;
  width: 1px;
}

body {
  margin: 0;
  padding: 0;
  font-family: "Manrope", sans-serif;
  color: #c7c7c7;
  letter-spacing: 0.02em;
  background-color: #0a0a0a;
  transition:
    background-color 0.3s,
    color 0.3s;

  font-weight: 400;
  font-size: 28px;
  line-height: 1;
  letter-spacing: -0.01em;
  color: #c7c7c7;
  overflow-x: hidden;
}

/* === ГЛОБАЛЬНІ ЗМІННІ ДЛЯ ТЕМИ === */

:root {
  /* Світла тема за замовчуванням */
  --bg-color: #ffffff; /* фон сторінки */
  --card-bg-color: #ded5d5; /* трохи темніший фон для компонентів */
  --text-color: #1b1a1a; /* основний текст */
  --accent-color: #00ff95; /* акцент */
  --li-bg-color: #ffffffbe; /* фон елементів списку */
  --color-star: #a18927; /* колір зірок */
  --color-tail: rgba(255, 255, 200, 0.7);
  transition: all 0.3s ease;
}

/* === ТЕМНА ТЕМА === */
body.dark {
  --bg-color: #000000; /* фон сторінки */
  --card-bg-color: #1a1a1a; /* трохи світліший фон для компонентів */
  --text-color: #ffffff; /* текст */
  --accent-color: #1cce6f; /* акцент */
  --li-bg-color: #2b2828be;
  --color-star: #fff8dc;
  --color-tail: rgba(173, 216, 230, 0.7);
}

/* === СВІТЛА ТЕМА === */
body.light {
  --bg-color: #ffffff;
  --card-bg-color: #f5f5f5; /* трохи темніший фон для компонентів */
  --text-color: #1b1a1a;
  --accent-color: #2d8d35;
  --li-bg-color: #ffffffbe;
}

.blur_effect {
  filter: blur(10px);
  transition: filter 1s ease;
}

.gradient_effect {
  background: linear-gradient(270deg, #ff6ec4, #7873f5);
  background-size: 400% 400%;
  animation: gradientMove 8s ease infinite;
}

@keyframes gradientMove {
  0% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0% 50%;
  }
}

.hover-card:hover {
  transform: translateY(-10px) scale(1.05);
  box-shadow: 0 20px 40px rgba(0, 0, 0, 0.2);
}
